#rightSide {
    left: 500px;
    border-left: 2px solid black;
}
img {
    position: absolute;
}
div {
    position: absolute;
    height: 500px;
    width: 500px;
}
body {
    background-color: #26851B;
}